.loginPage {
    background-image: linear-gradient(rgba(11,11,11,0.5), rgba(10,10,10,0.5));
    background-image: url("../public/image/bg-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(239, 243, 249, 0.6);
    color: white;
}
.logo {
    text-align: center;
}

.signupPage {
    background-image: linear-gradient(rgba(11,11,11,0.5), rgba(10,10,10,0.5));
    background-image: url("../public/image/signup-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;

} 